 html,body{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', serif;
 }

 *{
 	box-sizing: border-box;
 }
 
#div1{
	border: 1px solid red;
	display: block;
	margin-left: 10px;
	text-align: center;
	
	
}

#div2{
	border: 1px solid blue;
	display: block;
	text-align: center;
	
	
}

#div3{
	border: 1px solid green;
	display: block;
	text-align:center;
	
}
